.game-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white; 
  font-weight: bold;
  transition: background-color 0.5s ease;
  min-height: 100vh;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.option-set {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  gap: 20px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 2rem;
  width: 80%;
  max-width: 600px; 
  height: 100%; 
  overflow: hidden;
  div{
    width: 50%
  }
}

.option-label {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%; 
  flex: 1; 
  text-align: center;
}

input[type="radio"]:checked + label {
  background-color: rgba(255, 255, 255, 0.5); 
  color: black; 
  font-weight: bold;
  border-radius: 1.5rem;
  height: 100%; 
}

input[type="radio"] {
  margin-right: 10px;
  display: none;
}

.answer-message {
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.next-question-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
